@import "tailwindcss";

.App{
    background-image: url("E:\InfiniTalk\frontend\assets\background_grid.png"); 
    background-size: cover;
    background-position: center; 
    /* background-color: #6c51ab; */
    color: rgb(12, 12, 12);

}

::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-thumb{
    background: rgba(136,136,136,0.281);

}

::-webkit-scrollbar-thumb:hover{
    background: #555
}